<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code Detalhes</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen">
    <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md text-center">
        <h1 class="text-2xl font-bold mb-6">QR Code Detalhes</h1>
        {% if qr.is_expired %}
            <p class="text-red-500">This QR code has expired.</p>
        {% else %}
            <img src="{{ qr.qrcode_image.url }}" alt="QR Code" class="mx-auto mb-4">
            {% if qr.link %}
                <p class="text-gray-700">Link: <a href="{{ qr.link }}" class="text-indigo-600 hover:underline">{{ qr.link }}</a></p>
            {% elif qr.file %}
                <p class="text-gray-700">File: <a href="{{ qr.file.url }}" class="text-indigo-600 hover:underline">Download</a></p>
            {% endif %}

            <!-- Botão de Download -->
            <a href="{{ qr.qrcode_image.url }}" download="qrcode_{{ qr.link|default:'file' }}.png" class="mt-4 inline-block bg-indigo-600 text-white py-2 px-4 rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                Download QR Code
            </a>
        {% endif %}
        <a href="" class="mt-4 inline-block text-indigo-600 hover:underline">Gerar outro QR Code</a>
    </div>
</body>
</html>